@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https: //fonts.google.com/share?selection.family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
:root {
  --color: rgba(34, 35, 37, 1) rgba(19, 20, 21, 1);
}
html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #ebeef3;
}
#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
@keyframes display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes transform {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 95px);
  }
}
@keyframes transform-back {
  0% {
    left: calc(100% - 95px);
  }
  100% {
    left: 0;
  }
}
.animate-display {
  animation: display 0.5s ease-in-out;
}
.animate-transform {
  animation: transform 0.5s ease-in-out forwards;
}
.animate-transform-back {
  animation: transform-back 0.5s ease-in-out forwards;
}
.animate-vanish {
  animation: vanish 0.5s ease-in-out;
}
.markdown > * {
  all: revert;
  margin: 0;
  word-break: break-word;
}
.markdown img {
  margin-top: 5px;
  border-radius: 3px;
  max-width: 50%;
}
.gradient-box {
  max-width: 56px;
  border: 3px solid transparent;
  border-radius: 50%;
  background:
    linear-gradient(white, white 0) padding-box,
    linear-gradient(to right, #e2e1e6, #0288d1) border-box;
}
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 0.8;
  transform: translateX(0);
  transition:
    opacity 300ms,
    transform 300ms;
}

.alert-exit {
  opacity: 0.8;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 300ms,
    transform 300ms;
}

.brightness {
  filter: brightness(0.5);
}
